<div class="shadow-sm p-3 mb-2  rounded">
    <h3>NOTES TO SELF:</h3>
   </div>
<div class="image">
    <ul style="padding-left: 80px;">
      <h4> <i>KEEP TRYING</i> </h4>
      <h4><i>STAY POSITIVE</i>  </h4>
      <h4><i>KEEP PRAYING</i> </h4>
      <h4> <i>BE GRATEFUL</i> </h4>
      <h4><i>BECOME BETTER</i> </h4>
      <h4> <i>HAVE PATIENCE</i> </h4>
      <h4> <i>BE HAPPY</i> </h4>
      <h4> <i>DON'T GIVE UP</i> </h4>
      
      </ul>
</div>
<div class="shadow-sm p-3 mb-2  rounded">
    <h3>KEEP GOING! KEEP GROWING!</h3>
   </div>