<div class="container ">

    <form #form="ngForm" (ngSubmit)="onFormSubmit(form)">
        <h1 style="text-align: center;color:rgb(41, 68, 156)">
            TODO LIST</h1>

        <div class="content shadow-lg p-3 mb-5 bg-white rounded" style="text-align: center; ">

            <input ngModel required minlength="2" name="text" 
            type="text" size="50"  placeholder="Type todo here...">
        <br> <br><div>


                <button type="submit" class="shadow-lg p-1 mb-1 bg-white rounded" style="color:rgb(41, 68, 156)">
                    <b>{{addButton}}</b> </button>
            </div><br>


            <div class="todo-list">
                <div class="todo-item"
                 *ngFor="let todo of todos;index as i" [class.completed]="todo.completed">
                    <div class="check-box">
                        <i class="fas fa-check"></i>
                    </div>

                    <div class="todo-text">
                        {{todo.text}}
                    </div>

                    <div class="todo-edit">
                        <button (click)="Edit(todo.text,i)" class="todo-control btn btn-primary">
                            <i class="fas fa-edit"></i>
                        </button>
                    </div>

                    <div class="todo-trash">
                        <button (click)="Delete(i)" class="todo-control btn btn-primary">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>

                </div>

            </div>


            

        </div>


    </form>
</div>



<router-outlet></router-outlet>