<div class="container shadow p-5 mb-5 bg-white rounded ">
    <div class="row ">
        <div class="offset-3 col-lg-6">
            <form (submit)="submit()" [formGroup]="form">
<div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control" id="username" formControlName="username">
</div><br>
<div class="form-group">
    <label for="email">E-mail</label>
    <input type="text" class="form-control" id="email" formControlName="email">
</div>
<br>
<button class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>